

/* Tablet */
@media only screen and (min-width:768px) and (max-width:1024px){


	body {
		min-width: 100%!important;

	}	

	body #page,
	body #innerWrapper
	{
		width: 100%;
		padding: 0;
		background: none;
		margin: 0;
	}

	body #footer,
	body #footer-region,
	body #footer .bottom-row{
		width: 100%
	}

	body #footer{
		padding: 0;
		background: none;
	}

	body #footer-region{
		margin: 0;
	}

	body .container-16 .grid-16{
		width: 100%;
	}

	/* Home-page */

	body #spotlight .spotlightLeft{
		width: 60%;
	}

	body #spotlight .spotlightRight{
		width: 39%;
	}

	body #spotlight .spotlightLeft #homepage-text #message {
		width: 74% !important;
	}

	body.front .view-home-slider .views-field-title{
		width: 84%;
		clear: left;
	}

	body.front .view-home-slider .views-field-body{
		width: 70%;
	}

	body .view-home-slider .views-field-field-home-slider-image {
		width: 84%;
	}

	body .view-home-slider {
		width: 100%;
	}

	body #block-views-home-slider-block{
		width: 100%;
	}

	body.front .view-content {
		width: 100%
	}

	body .view-home-slider .views-field-field-home-slider-image img {
		margin-left: 15%;
	}

	body .blue-boxes {
		float: none;
		margin-left: 0px;
		width: 100%;
		display: block;
		margin: 0 auto;
	}

	body .blue-boxes .homepage-blue-box{
		width: 28%;
	}

	body .blue-boxes .homepage-blue-box #agency-goals-info {
		background-position: 90% 50%;
	}

	body .drops_wrapper {
		width: 95%;
		top: 20px;
	}

	body .listContainer1{
		width: 100%
	}

	body .themes_drop {
		width: 100%;
		height: auto;
	}

	body .themes_drop ul {
		width: 19%;
	}

	body .themes_drop li {
		width: 100%;
	}

	body .drop_col {
		width: 100%;
	}

	body .agency_drop {
		width: 29%;
		margin-left: 34%;
		top: -35px;
	}


	/* Search Page */


	body.page-search-site #main {
		width: 57%;
	}

	body.page-search-site #sidebar-right {
		width: 32%;
		margin-top: 70px;
	}

	body.page-search .block-facetapi {
		clear: left;
	}

	body .page-search .search_filters_title{
		width: 100%;
	}

	body .page-search-site #sidebar-right {
	margin-top: 75px;
	}


	/* Agencies landing */

	body .node .wide-container {
		width: 75%;
	}

	body .node .narrow-container {
		width: 24%;
	}

	body .node .mission-container .text {
		width: 85%;
	}

	body .node .mission-container .logo {
		width: 15%;
	}
    body.node-type-agency .content .node  .mission-container{
        width:69%;
        padding: 0 2%;
        margin-bottom: 0;
    }
    body.node-type-agency .node .wide-container{
        margin-left:22%;
        width:78%;
    }
    body.node-type-agency .wide-container #tabs{
        margin-left: 6%;
    }
    body.node-type-agency .node .agency-reports-wrapper{
        width: 86%;
        margin-left: 6%;
    }
	body.agencies .view-content{
		width: 100%;
	}

	body.page-agencies #block-system-main{
		margin: 0;
	}

	body ul.ui-tabs-nav {
		/*margin-left: -35%;*/
		width: 35%;
	}


	/* FAQ */

	body.faq #page #main{
		padding: 0;
		width: 100%;
	}

	/* Tech Reference */

	body .developer-page-wrapper,
	body .developer-page-section {
		width: 100%;
	}

	/* Hudstat & Data-Driven-Reviews */

	body.data-driven-reviews .node .content, 
	body.hudstat .node .content {
		width: 100%;
	}

	body .text_left{
		width: 53%;
	}

	body .text_right{
		width: 38%;
		padding-left: 20px;
	}

	body.data-driven-reviews .node .content .field img,
	body.data-driven-reviews .node .content .field-group-format img,
	body.hudstat .node .content .field img,
	body.hudstat .node .content .field-group-format img {
	  width: 100% ;
	  height: auto ;
	}

	/* Cap-Goal-List */

	body.cap-goals-list .view-header,
	body.cap-goals-list .main-message{
		width: 100%
	}

	body.cap-goals-list .main-message{
		float: left;
	}

	body.page-cap-goals-list .intro_text {
		padding: 0;
	}

	body.page-cap-goals-list .main-message .message{
		width: 70%;
	}

	/*body.page-cap-goals-list .main-message_wrapper{
		float: left;
		padding: 25px;
	}

	body.page-cap-goals-list .cap_logo_wrapper{
		float: left;
		width: 23%;
	}

	body.page-cap-goals-list .main-message .logo{
		width: 100%;
		margin-left: 30px;
		margin-top: 0;
		float: left;	
	}

	body.page-cap-goals-list .main-message .cap_message_wrapper{
		float: left;
		width: 70%;
	}

	body.page-cap-goals-list .main-message .message{
		width: 100%;
		margin-left: 0;
		margin-top: 0;
		line-height: 20px;
		float: left;
	}

	body.page-cap-goals-list .main-message .president{
		width: 100%;
		float: left;
		margin-left: 0;
	}*/

	body.page-cap-goals-list .view-content, 
	body.page-cap-goals-list .instructions{
		width: 100%;
		margin: 0;
		line-height: 20px;
	}

	body.page-cap-goals-list #main-content h2{
		margin-left: 0;
	}

	body.page-cap-goals-list .region-content{
		margin: 0 15px;
	}

	/* Clear Goals */

	body .clear-goals-wrapper {
		margin-left: 5%;
		width: 100%;
		margin-top: 0;
	}

	body #goals-list-wrapper {
		float: left;
		width: 64%;
		margin-top: 0;
		margin-left: 15px;
	}

	body #facet-search-filters {
		width: 34%;
		padding: 25px 0 0 0;
	}

	body ul.goal-name {
		max-width: 80%;
	}

	body #facet-search-filters legend {
		width: 100%;
	}

	body #facet-search-filters .form-item select {
		width: 100%;
	}

	body span.csv {
		left: 5%;
	}

	body.clear-goals .view-content {
		width: 100%;
	}

	body.page-clear-goals #spotlight .spotlightRight {
		width: 315px;
	}

	body.page-clear-goals #spotlight .spotlightLeft {
		width: 55%;
	}

	body.page-clear-goals .view-home-slider {
		width: 100%;
		float: left;
		margin-left: 2%;
	}

	body.clear-goals .view-home-slider .views-field-title{
		width: 100%;
		float: left;
	}

	body .view-home-slider-clear-goals .views-field-title {
		width: 235px;
		margin: 0 auto;
	}

	body.clear-goals .view-home-slider .views-field-body{
		width: 90%;
		float: left;
		padding: 4%;
	}

	body .view-home-slider-clear-goals .views-field-field-intro-text {
		width: 255px;
	}

	body.clear-goals .view-home-slider .views-field-field-home-slider-image {
		width: 100%;
		margin-top: 0;
	}

	body.clear-goals #spotlight .spotlightLeft #homepage-text #message {
		width: 95% !important;
		margin: 0 0 30px 0;
	}

	.node{
		padding: 0 !important;
	}

	body.page-search-site .search-form #edit-submit{
		-webkit-appearance: none; /* remove default IOS browser styles */
	}

	/* Crpss APG landing */

	body.node-type-cross-agency-goal .node .wide-container {
		width: 100% !important;
        margin-left:0;
	}

	body.node-type-cross-agency-goal .content .ui-tabs-nav {
		width: 25% !important;
	}

	body.node-type-cross-agency-goal #overview{
		width: 75% !important;
	}

	body .node-cross-agency-goal .teaser {
		width: 100% !important;
	}

	body.node-type-cross-agency-goal .cap-statement {
		width: 100% !important;
	}

	/* General fixes for the small horizontal scrollbar */

	#site-menu #block-nice-menus-2 ul.nice-menu ul {
		width: 600px !important;
	}

	.dateLogoutWrapper a {
		margin-left: -7px;
	}

	

}


/* Mobile */
@media only screen and (max-width: 767px) {



	/* General */	

	body {
		min-width: 90%;
		padding-left: 5%;
		padding-right: 5%;
	}

	body #top-bar{
		background: #f0f0f0;
		height: 30px;
		margin-bottom: 5px;
	}

	body #usa{
		display: none;
	}

	body #date{
		display: none;
	}	

	body #page,
	body #innerWrapper
	{
		width: 100%;
		padding: 0;
		background: #fff;
		margin: 0;
	}

	body #site-name a{
		margin: 15px auto;
		margin-bottom: 5px;
		display: block;
		height: 26px;
		width: 262px;
		background: url("https://www.performance.gov/sites/all/themes/performance/images/logo.png") no-repeat;
	}

	body.front #main{
		background-color: #fff;
	}

	body input,
	body select,
	body textarea,
	body .form-textarea-wrapper.resizable.textarea-processed.resizable-textarea{
		width: 100% !important;
	}

	body .hide_desktop{
	    display: block;
	    background-color: #3778b3;
	    padding: 10px;
	    width: 66px;
	    margin-top: 5px;
	}

	body .hide_desktop p{
		color: #fff;
	}

	body .hide_mobile{
	    display: none;
	}


	body #xml-export-icon, body #csv-export-icon{    /* Hide XML & CSV download */
		display: none;
	}
	


	/*Mobile Menu*/

	#site-menu{
		display: none;    /*Hide the desktop menu*/
	}

    .mm-menu {
        width:91% !important;
        color: #777;
        font-family: Helvetica,Arial,sans-serif;
    }
    .mm-list,
    .mm-header{
        background-color: #fff !important;
    }
    .mm-header{
        padding-top: 0 !important;
        padding-left: 15px !important;
        height: 90px !important;
    }
    .mm-list{
        padding-top: 90px !important;
    }
    .mm-list a,
    .mm-title,
    #close-menu{
        font-weight: bold;
        color: #777;
        font-family: Helvetica,Arial,sans-serif;
        font-size: 14px;
    }
    .mm-header .mm-prev:before,
    .mm-header .mm-next:before{
        bottom: 39% !important;
    }
    .mm-title{
        width:30% !important;
        float: left;
        margin-left: 25%;
    }
    #mobile-menu-block a{
        /*margin-left:5%;*/
        float: right;
	}
    #mobile-menu-block a img{
        width:60px;
        float: left;
        margin: 0;
        padding: 0;
    }

    #close-menu{
        display: block;
        position: relative;
        float: left;
        /*top: 30px;*/
        /*left: 200px;*/
        z-index: 10;
    }
	body #site-header{
		float: none;
		height: auto;
	}

	body #site-name{
		float: none;
	}

	body #login ul li a {
		background-image: url(../images/login_icon_mobile.png);
		background-repeat: no-repeat;
		background-position: 65% 50%;
		padding-right: 20px;
		font-size: 16px;
		margin-top: 4px;
		background-size: 16px 14px;
	}

	body.logged-in #innerWrapper #top-bar{
		background: none;
		background-color: #f0f0f0;
	}


	body #search-box{
		width: 70%;
	}

	
	body #search-box.grid-16.clearfix{
		position: relative;
		float: left;
		margin: 0;
		padding: 0px;
		width: 78%;
	}

	body #block-search-form .form-text {
		width: 100%;
		height: 58px;
	}

	body #block-search-form .form-type-textfield{
		width: 55%;
	}

	body #block-search-form .form-submit {
		display: block;
		height: 60px;
		width: 40% !important;
		float: right;
	}

	body #mobile-menu-block{
		float: right;
		width: 14%;
		margin-left: 16%;
	}

	body #block-search-form .form-text{
		background: none;
	}

	body #edit-actions{
		padding-right: 0
	}

	body #footer ul.bottom-row{
		display: none;
	}

	body #footer{
		margin-bottom: 50px;
		background: none;
		padding: 0;
		width: 100%;
	}

	body #footer-region{
		width: 100%;
		margin: 0;
		padding: 0
	}

	body #footer ul {
		padding: 0;
	}


	body #footer ul.top-row{
		border-top: thin solid #eee;
		padding-top: 10px;	
	}

	body #footer ul.top-row li {
		display: block;
		padding: 8px 0;
		margin: 0;
	}

	body #footer ul.top-row li a {
		font-size: 14px;
	}

	body .breadcrumb-title-wrapper{ /* Hide Breadcrumb*/
		display: none;
	}

	body .breadcrumb-container{
		display: none;
	}

	.popup-element {
		display: none;   /* Tooltips */
	}

	.star_wrapper .popup-element{
		display: block;
	}


	/* Home-Page */

	body #spotlight .spotlightLeft #homepage-text #message
	{
		width: 100% !important;
		padding: 0;
		background: none;
		margin: 15px 0 0 0;
		display: none;
	}

	body #homepage-text,
	body .spotlightLeft h1{
		padding: 0;
		margin-left: 0;
	}

	body #page .spotlightLeft h1.main_title{
		width: 53%;
		float: right;
		font-size: 1.2em;
		padding-right: 12%;
		margin-left: 2%;
		margin-top: 35px;
	}

	body #spotlight{
		background: #fff;
	}

	body.node{
		padding: 0 5%;
	}

	body #spotlight .spotlightLeft #homepage-text #flag {
		float: none;
		margin: 0 auto;
		text-align: center;
		width: 57%;
	}

	body #spotlight {
		border-bottom: none;
	}

	body .spotlightLeft,
	body .spotlightRight{
		width: 100%
	}

	body #spotlight .spotlightRight {
		width: 100%;
		height: 100%;
		background-color: #f3f4f7;
		border-left: none;
		display: none;
	}

	body #spotlight .spotlightLeft {
		height: 100%;
		border-right: none;
		background-color: #fff;
		background-image: none;
		display: none;
	}

	body #spotlight .border,
	body .homepage-bottom{
		display: none;	
	}

	body .intro_text{
		display: none;
	}

	body .quote_right,
	body .quote{
		text-align: center;
	}

	body .quote_right{
		margin-top: 5px
	}

	.quote_right p {
		line-height: 5px;
	}

	body .container-16 .grid-16 {
		width: 100%;
	}

	body #block-views-home-slider-block{
		width: auto;
		margin: 0 auto;
	}


	body .view-home-slider .views-field-field-home-slider-image{
		float: none;
		background-color: #f3f4f7;
		text-align: center;
		margin-top: 20px;
	}

	body .view-home-slider .views-field-title{
		background-color: #f3f4f7;
	}


	body .view-home-slider .views-field-field-home-slider-image img {
		padding-left: 0;
		margin-top: 0;
		margin-left: 0;
	}

	
	body .view-home-slider {
		background-color: #f3f4f7;
		font-weight: bold;
		font-size: 22px;
		margin-left: 0;
		margin: 0 auto;
	}

	body .view-home-slider .views-field-body{
		display: none;
	}

	body #block-views-home-slider-block {
		width: auto;
	}


	body .widget_pager{
		width: 81px;
		margin-top: 20px;
		float: left;
		margin-left: 12%;
	}


	body .blue-boxes {
		margin-left: 0px;
		width: 100%;
		margin-bottom: 20px;
	}


	body .blue-boxes .homepage-blue-box {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		background-image: url(../images/blue_gred.png);
		height: 80px;
	}

	body .blue-boxes .homepage-blue-box p,
	body .blue-boxes .homepage-blue-box p a{
		padding: 0
	}

	body .blue-boxes .homepage-blue-box div{
		display: none;
	}

	body .blue-boxes .homepage-blue-box #themes-info,
	body .blue-boxes .homepage-blue-box #agency-goals-info {
		background-position: 93% 15%;
		font-size: 22px
	}

	body .blue-boxes .homepage-blue-box p,
	body .blue-boxes .homepage-blue-box p a{
		font-size: 22px;
		margin-top: 16px;
		line-height: 25px;
	}

	body .drops_wrapper{
		position: relative;
		width: 100%;
	}

	body .agency_drop {
		clear: both;
		position: inherit;
		background-color: #fff;
		width: 100%;
		margin-left: 0;
		top: 0;
	}

	body .agency_drop ul {
		margin-left: 0;
		margin: 0;
		padding: 0;
	}

	body .agency_drop ul li{
		height: 50px;
		background-color: #f0f0f0;
	}
	
	body .agency_drop ul li a{
/*		font-size: 1.2em;*/
	}

	body .drop_col{
		width: 100%;
	}

	body .listContainer1{
		width: 100%;
	}

	body .themes_drop{
		position: relative;
		top: -36px;
		width: 100%;
	}

	body .themes_drop ul {
		width: 100%;
		float: none;
		margin: 0;
		padding: 0;
	}

	body .themes_drop li {
		width: 100%;
		float: none;
		text-align: center;
		height: 50px;
		background-color: #f0f0f0;
		background-image: url(../images/drop_nav_bg.png);
		background-repeat: repeat-x;
	}

	body .themes_drop li a{
/*		font-size: 1.2em;*/
		font-weight: bold;
		padding: 10px;
	}

	.widget_pager {
		margin-top: 145px;
		}


	/* Search Page */

	body.page-search-site #sidebar-right input {	/* filters check boxes width rewrite */
		width: auto !important;
	}


	body #main-content .refine_mobile{	/*filters anchor for search page and clear goals page*/
		background-color: #3778b3;
		width: 100%;
		margin-bottom: 10px;
		display: block !important;
		width: 44px;
		word-wrap: break-word;
		position: fixed;
		right: 5%;
		top: 50%;
		opacity: 0.8;
		filter: alpha(opacity=80);
	}

	body #main-content .refine_mobile-text{   
		width: 10%;
		text-align: center;
		margin: 0 auto;
		color: #fff;
		font: bold 12px/20px Verdana;
		padding: 10px 0;
	}


	body #main-content .refine_mobile-text:hover{   
		text-decoration: none;
	} 	/* end of filters anchor */

	body.page-search-site #main {
		width: 100%;
	}

	body.page-search-site #sidebar-right {
		margin-bottom: 50px;
		width: 100%;
	}

	body .grid-13,
	body .grid-3{
		margin-left: 0;
		margin-right: 0;
	}

	body.page-search .block-facetapi {
		clear: left;
	}


	body.page-search #block-system-main li.search-result p.search-link{
		width: 95%;
	}

	#block-system-main .content .item-list li.pager-item,
	#block-system-main .content .item-list li.pager-current,
	#block-system-main .content .item-list li.pager-first,
	#block-system-main .content .item-list li.pager-previous,
	#block-system-main .content .item-list li.pager-next,
	#block-system-main .content .item-list li.pager-last {
		padding: 12px;

	}

	#block-system-main .content .item-list li.pager-first a,
	#block-system-main .content .item-list li.pager-previous a, 
	#block-system-main .content .item-list li.pager-next a, 
	#block-system-main .content .item-list li.pager-last a{
		font-size: 16px;
	}

	body.page-search-site #edit-basic{  /* hide the other search bar */
		display: none;
	}

	body .search-results p {
		word-wrap: break-word;
	}

	body.page-search #block-system-main .content .item-list li.pager-item,
	body.page-search #block-system-main .content .item-list li.pager-current{
		display: none;
	}

	body.page-search #block-block-10{
		width: 100%;
	}
	body.page-search .search_filters_title{
		width: 100%;
	}

	body.page-search .search_filters_title h1{
    	margin-left: 0;
	}

	body.page-search .block-facetapi .content ul li ,
	body.page-search .block-facetapi h2,
	body.page-search .block-facetapi a.facetapi-limit-link
	{
		clear: both;
	}

	body.page-search .block-facetapi .content ul li a
	{
		width: auto;
	}

	.page-search #sidebar-right{
		position: absolute;
		top: 0px;
		right: 0px;
		margin: 0px !important;
		padding:0px !important;
		z-index:1;
		display:none;


	}
	.applyFilterButton{
		float:left;
		clear:both;
		display:block;
		width:80%;
		padding:;
		color:#fff;
		background-color:#3778b3;
		display: block;
		padding: 10px;
		text-align: center;
		font: bold 12px/20px Verdana;
		margin:0px 5%;
	}


	/* Agencies Page */

	body #main-content .agency-overview {
		background-color: #fff;
        width:100%;
	}
    #block-system-main{
        width: 100%;
    }
	body .node .agency-head-wrapper{
		padding: 10px 0px 0px 0px;
		height: auto;
		width: 105px;
		margin: 0 auto;
	}


	body .agency-head-wrapper .viewport {
		float: none;
		margin-left: 0;
		margin-bottom: 0;
	}
	body .node .narrow-container,
	body .node .wide-container{
		width: 100%;
	}

	body .node .mission-container {
		padding: 0;
		margin-bottom: 10px;
		background-color: #f3f4f7;
		margin-top: 10px;
	}
    body.node-type-agency .node .mission-container{
        width:100% !important;
    }
    .mission-container{
        width:100%;
    }
    body.node-type-agency .node .wide-container{
        width: 100%;
        margin-left: 0;
    }
	body .node .mission-container .text {
		width: 50%;
		margin-left: 0%;
		min-height: 139px;
		padding: 10px 0;
	}
    body.node-type-priority-goal #block-system-main .node .mission-container{
        float: none;
        width: 100%;
    }
    body.node-type-priority-goal #block-system-main .node .mission-container .text {
        width:25%;
    }
	body .node .mission-container .logo {
		width: 50%;
		margin-top: 30px !important;
		min-height: 139px;
	}

	body .node .mission-container .logo img {
		max-width: 70px;
	}

	body #main-content .node .mission-container h2.desktop{
		display: none;
	}

	body #main-content .node .mission-container .mission_mobile,
    .mobile{
		display: block!important;
	}

	body #main-content .mission_title_mobile{
		font-weight: bold;
	}


	body #main-content .node .mission-container .mission_mobile h2{
		display: block;
		color: #427fb7;
		text-align: center;
		margin-top: 40px;
	}

	body .node .mission-container a {
		color: #427fb7;
	}
	
	body .node .mission_mobile{
		width: 100%;
		background-color: #3778b3;
		margin-top: 3px;
		text-align: center;
		display: block;
		padding: 15px 0;
		cursor: pointer;
		clear:both;
	}

	body .agency-head-wrapper .pager {
		margin: 0 auto;
		padding: 0;
		width: 38px;
	}

	body .agency-head-wrapper .pager li {
		list-style: none;
	}

	body .agency-head-wrapper .title {
		margin: 0;
	}

	body .agency-head-wrapper .overview li {
		margin: 0 61px 0 0;
		/*width: 148px;*/
		list-style: none;
	}

	body #main-content .mission_mobile h2{
		color: #fff !important;
		font: 16px Bitter;
		font-weight: bold;
		margin:0px 0px;
		padding:0px 0px;
	}

	body .node .mission_mobile + .spacer,
	body .node .mission_mobile + .spacer + #share_icons{
		display:none;
	}

	body #main-content .agency-overview .spacer {
		display: none;
	}

	body #share_icons {
		float: none;
		margin: 0 auto;
		width: 175px;
		margin-bottom: 10px;
		}

	body #themes_container{
		margin-top: 15px;
	}

	body .agency_tags_label,
	body .mission {
		margin-left: 0;
		margin-bottom: 5px;
		display: block;
		color: #575757;
		font-family: Helvetica,Arial,sans-serif;
		font-weight: bold;
		font-size: 18px;
		text-transform: uppercase;
	}

	body .agency_tags {
		background-color: #f0f0f0;
		padding: 8px;
	}


	body #tabs ul,
	body #mobileTabs ul{
		float: left;
		margin-left: 0;
		border: none;
		width: 100%;
		margin-bottom: 20px;
		padding: 0;
	}

	body #tabs ul li,
	body #mobileTabs ul li.blue_tab_item {
		background-color: #3778b3;
		margin-top: 3px;
		cursor: pointer;
	}

	body #mobileTabs .accordion_content ul li{
		background-color: #FFF;
	}

	body .agency-head-wrapper .name,
	body .agency-head-wrapper .title{
		color: #494949;
	}

	body .accordion_content ul.ui-tabs-nav li{
		background-color: #fff;
	}

	body #tabs ul li .blue_tab,
	body #mobileTabs ul li .blue_tab {
		width: 100%;
		color: #fff;
		text-align: center;
		font: 16px Bitter;
		font-weight: bold;
		display: block;
		padding: 15px 0;
	}
	body #mobileTabs ul li .blue_tab > a {
		color:#fff;
	}

	body #tabs ul,
	body #mobileTabs ul{
		margin-bottom: 20px;
		background-color: #fff;
		list-style: none;
	}	

	body ul.ui-tabs-nav li.ui-state-default a {
		color: #FFF;

	}

	body.node-type-objective #main-content h2, 
	body.node-type-priority-goal #main-content h2, 
	body.agency #main-content h2 {
		font: 16px Bitter !important;
		font-weight: bold !important
	}

	body #stgob .accordion_header p,
	body #apg .accordion_header p, 
	body #relgoals .accordion_header p, 
	body #relatedgoals .accordion_header p {
		width: 100%;
		margin: 10px 0;
		text-align: left;
	}
    #relatedgoals {
        background-color: #fff;
    }
	body .node .overview-wrapper{
		padding: 0
	}

	body .accordion_content,
	body .ui-accordion-content{
		padding: 20px 10px;
	}

	body #stgob .accordion_first_layer .accordion_header h4, 
	body #relatedgoals .accordion_first_layer .accordion_header h4, 
	body #relgoals .accordion_first_layer .accordion_header h4, 
	body.demo-expand-and-enhance-public-engagement-federal-government #relatedgoals .accordion_first_layer .accordion_header h4, 
	body.objective #relatedgoals .accordion_first_layer .accordion_header h4 {
		width: 100%;
	}

	body #relgoals .accordion_first_layer .accordion_header, 
	body #stgob .accordion_first_layer .accordion_header, 
	body #relatedgoals .accordion_first_layer .accordion_header, body.node-type-priority-goal 
	body #relgoals .accordion_first_layer .accordion_header, 
	body.demo-expand-and-enhance-public-engagement-federal-government #relatedgoals .accordion_first_layer .accordion_header, 
	body.objective #relatedgoals .accordion_first_layer .accordion_header {
		padding: 10px 15px;
		background-color: #f0f0f0;
	}

	body .accordion_content .accordion_collapsed {
		background: url('../images/accordion_content_triangle_sideways.png') no-repeat 10px 15px;
	}

	body .node .agency-reports-wrapper{
		border-top: none;
		padding: 10px 0;
		margin: 10px 0;
		text-align: center;
		width: 93%;
	}

	body .node .agency-report{
		width: 153px;
		margin: 0 30%;
	}

	body .node .agency-reports-wrapper .download {
		margin-left: 10px;
		margin-right: 0;
		margin-top: 10px !important;
	}

	body .node .agency-reports-wrapper .links{
		margin-top: 20px !important;
		margin-left: 0;
		margin-right: 0;
	}

	body .node .agency-reports-wrapper .thumbnail{
		float: left;
		margin-top: 10px !important;
	}

	body .teaser_themes_wrapper{
		margin: 10px 0;
		float: left;
	}


	/* SO page */

	body.node-type-objective .node .mission-container .logo,
    body.node-type-agency .node .mission-container .logo{
		min-height: inherit;
		margin: 0 auto;
		float: none;
		padding-top: 10px;
	}

	body.node-type-objective .node .mission-container .text,
    body.node-type-agency .node .mission-container .text{
		display: none;
	}

	/* FAQ */

	body.faq #page #main{
		padding: 0;
		width: 100%;
	}

	body.faq #page .node .content .field .field-items ul{
		padding-left: 0;
		margin-top: 10px;
        list-style-type: none;
	}

	body.faq #page .node .content .field .field-items ul.quicktabs-tabs{
		margin-top: 0;
	}
	body.faq ul.quicktabs-tabs > li.content{
		white-space: normal;
	}
    body.faq #page #faq-tabs li{
		width: 100%;
		background-color: #3778b3;
		margin-top: 5px;
	}

    body.faq #page #faq-tabs li.active {
		margin-top: 5px !important;
	}

    body.faq #page #faq-tabs li a{
		border-bottom: 0 !important;
		border-color: none !important;
		color: #fff;
		border: none;
		background: none;
		display: block;
		padding: 10px;
		text-align: center;
		white-space: normal;
	}
    body.faq #page #faq-tabs > ul > li > a{
        padding: 10px;
        color:#fff;
    }

	body.faq #page .node .content .field .field-items {
		width: 100%;
		padding: 0;
	}

	body .node .content .field .field-items {
		width: 100%;
	}


	body.faq.not-front .node .content, body.faq .node .content .field .field-items {
		width: 100%;
	}
    body.faq #page #faq-tabs li.content{
		background-color: transparent;
		margin-top:0px;
		padding: 0px !important;
	}
    body.faq #page #faq-tabs #faq-tab-performance li{
        background-color: transparent;
    }
	body.faq #main-content .quicktabs-tabpage > .node > h2 {
		display:none;
	}
	body.faq #page .node .content .field .field-items .content ul{
		margin:10px 0px 0px 0px;
		padding:0px;
        list-style-type: none;
	}
	body.faq #page #quicktabs-site_faq .quicktabs-tabs .content li{
		background-color:transparent;
		margin:0px 0px 5px 0px;
		text-align: left;
		width:auto;
		white-space: normal;
	}
    body.faq #page #faq-tabs li a{
		text-align: left;
		padding:0px;
		font-weight:normal;
		line-height: normal;
		color:#006699;
	}
	ul.quicktabs-tabs.quicktabs-style-garland .content li a:link, 
	ul.quicktabs-tabs.quicktabs-style-garland .content li a:visited{
		font-family:  Arial, Helvetica, sans-serif;
	}
	ul.quicktabs-tabs.quicktabs-style-garland .content {
		color: #494949;
		font: 13px Arial, Helvetica, Sans-Serif;
		font-weight: normal;
	}
	ul.quicktabs-tabs.quicktabs-style-garland .content h2{
		float:left;
		clear:both;
		width:100%;
		display:block;
	}
	ul.quicktabs-tabs.quicktabs-style-garland .content p{
		clear:both;
	}

	body .faq_link{
		color: #006699 !important;
		display: inline !important;
		padding: 0 !important;
	}

	/* Tech Reference */

	body .developer-page-wrapper,
	body .developer-page-section {
		width: 100%;
	}

	body.developers-page b,
	body.developers-page li
	 {
	   word-wrap: break-word;
	}

	body .developer-page-section ul {
		padding-left: 10px;
	}

	body.developers-page .region-content {
	margin: 0;
	}

	/* Feedback */
    .feedback #recaptcha_widget_div,
    .feedback .feedback-submit{
        margin-left: 0 !important;
    }
	body.feedback #block-system-main {
		margin: 0;
	}

	body.feedback fieldset{
		padding: 0 !important;
	}

	body #recaptcha_area, body #recaptcha_table {
		width: 82%!important;
	}

	body.feedback label{
	    float: none;
	    text-align: left;
	    width: 100%;
	    padding-right: 0px;
	}

	body.feedback select{
	    width: 100%;
	}

	/* Agency Plans */

	body.page-agency-plans #block-system-main{
		margin: 0;
	}

	/* Hudstat & Data-Driven-Reviews */

	body.data-driven-reviews .node .content, 
	body.hudstat .node .content {
		width: 100%;
	}

	body.data-driven-reviews #block-system-main, 
	body.hudstat #block-system-main{
		margin: 0;
	}

	/* Cap-Goal-List */

	body.cap-goals-list .view-header,
	body.cap-goals-list .main-message{
		width: 100%
	}

	body.cap-goals-list .main-message{
		float: left;
		height: auto;
		display: none;
	}

	body.page-cap-goals-list .main-message_wrapper{
		float: left;
		padding: 25px;
	}

	body.page-cap-goals-list .cap_logo_wrapper{
		float: left;
		width: 30%;
	}

	body.page-cap-goals-list .main-message .logo{
		width: 100%;
		margin-left: 0;
		margin-top: 0;
		float: left;	
	}

	body.page-cap-goals-list .main-message .cap_message_wrapper{
		float: left;
		width: 70%;
	}

	body.page-cap-goals-list .main-message .message{
		width: 100%;
		margin-left: 0;
		margin-top: 0;
		line-height: 20px;
		float: left;
	}

	body.page-cap-goals-list .main-message .president{
		width: 100%;
		float: left;
		margin-left: 0;
	}

	body.page-cap-goals-list .view-content, 
	body.page-cap-goals-list .instructions{
		width: 100%;
		margin: 0;
		line-height: 20px;
	}

	body.page-cap-goals-list #main-content h2{
		margin-left: 0;
	}

	/* Hudstat & Data-Driven-Reviews */

	body.data-driven-reviews .node .content .field img,
	body.data-driven-reviews .node .content .field-group-format img,
	body.hudstat .node .content .field img,
	body.hudstat .node .content .field-group-format img {
	  width: 100% !important ;
	  height: auto !important;
	}

	body .text_left {
		width: 100%;
	}

	body .text_right {
		width: 100%;
		padding-left: 0;
		margin-left: 0;
	}

	/* Agencies landing */

	body.agencies .view-content{
		width: 100%;
	}

	body.page-agencies #block-system-main{
		margin: 0;
	}

	body.agencies #main-content h1{
		margin-top: 15px;
	}

	body.page-agencies #block-system-main{
		margin: 0;
	}

	body.data-driven-reviews #block-system-main, 
	body.hudstat #block-system-main, 
	body.about #block-system-main, 
	body.feedback #block-system-main {
		margin: 0;
	}

	body .view-id-agencies_new .views-row{
    	width:100%;
	}

	body .view-additional-agencies .views-row {
		width: 100%;
		text-align: center;
		height: 40px;
	}

	body .view-id-agencies_new .views-field-php {
		width: auto;
	}

	body.agencies .view-additional-agencies .views-field-title-1 {
		padding: 10px 0;
	}

	.view-additional-agencies .views-field-php {
		padding-left: 0;
	}

	/* APG Page */

	body .node .mission-container .ct-label,
    body .node .mission-container .text{
		display: none;
	}
    body .node .mission-container .logo{
        margin-left: 25%;
    }
    #indicators .accordion_content .accordion_tabs .tabs li{
        clear: both;
        width: 100%;
        margin: 20px 0;
    }
	body .node .mission-container .text h2 {
		display: none;
	}

    .ui-accordion-content,
    .views-accordion-header{
        width:90% !important;
    }
    body #indicators .accordion_header,
    body #relgoals .accordion_header,
    body #so_sg_accordion0 .accordion_header,
    body #apg .accordion_header,
    body #stgob .accordion_header{
        width:90%;
    }
    .accordion_content{
        width:94% !important;
    }
	body #indicators .accordion_content .accordion_tabs .explanation table,
	body .highcharts-container
	{	
		overflow: visible !important;
		overflow-y: auto !important;
		width: 100% !important;
		height: auto !important;
	}

	body #indicators {
		padding: 0;
	}

	body #indicators .accordion_content .tabs {
		margin-bottom: 0%;
		padding: 3%;
	}
    .accordion_content,
    .ui-accordion-content{
        width:100%;
    }

	body .clear-slider .slider-title {
		left: 0;
		line-height: inherit;
	}

	/* Clear Goals */

	body.clear-goals #spotlight .spotlightLeft #homepage-text #message { 	/*Show the message class*/
		display: block;
		margin: 0;
	}

	body.clear-goals #spotlight .spotlightLeft{
		display: block ;
	}

	body .clear-goals-wrapper {
		margin-left: 5%;
		width: 100%;
	}

	body .clear-goals-wrapper {
		margin-left: 0;
		width: auto;
	}

	body .spotlightRight .clear-goals-wrapper .clear-slider {
		margin: 0px auto;
		width: 100%;
		height: auto;
		background: #f3f4f7;
		margin: 0;
		padding: 0;
	}

	body .clear-goals-wrapper {
		background: #f3f4f7;
		margin-top: 0;
	}

	body.not-logged-in.clear-goals #main-content .spotlightLeft h1 {
		margin-top: 20px !important;
	}

	body .clear-slider .slider-title .gray-border {
		padding-top: 10px;
		position: relative;
		left: -2px;
		width: 100%;
		height: 100%;
		background: #f3f4f7;
	}

	body ul.goal-name {
		max-width: 70%;
	}

	body #facet-search-filters {
		width: 100%;
		padding: 0;
		margin-top: 30px;
		position: relative;
		background-color: #eee;
		padding: 10px 0;
	}

	body #facet-search-filters legend {
		width: 100%;
		padding: 8px 0;
	}

	body .clear-slider .slider-title p {
		display: none;
	}

	body #facet-search-filters .form-item select {
		width: 100%;
	}

	body #facet-search-filters .form-submit {
		height: 35px;
		width: 100%;
		margin-bottom: 10px;
		padding: 0;
		margin: 2px 0;
		}

	body #goals-list-wrapper {
		width: 100%;
		margin-top: 0;
		margin-left: 0;
		margin-top: 30px;
	}

	body.not-logged-in.clear-goals #main-content .spotlightLeft h1 {
		margin: 0;
	}

	body .body-data{
		padding: 10px;
	}

	body.clear-goals #block-system-main .content .item-list li.pager-item,
	body.clear-goals #block-system-main .content .item-list li.pager-current{
		display: none;
	}

	body span.csv {
		display: none;
	}

	body .fieldset {
		padding: 0;
	}

	body .fieldset-legend{
		margin-left: 10px;
	}

	body .clear-slider li {
		position: relative;
		top: 0;
		left: 0;
		text-align: center;
		margin-top: 30px;
	}

	body .spotlightRight .clear-goals-wrapper .slider-dots {
		position: inherit;
		text-align: center;
		margin-left: 35%;
		float: left;
	}

	body.clear-goals #spotlight .spotlightRight {
		margin-top: 20px;
	}

	/* Cross Ageny Priority goals */

	body.node-type-cross-agency-goal .node .wide-container,
    body.node-type-priority-goal .wide-container,
    body.node-type-agency .wide-container{
		width: 100% !important;
        margin-left:0 !important;
	}

	body.node-type-cross-agency-goal #overview, body.node-type-cross-agency-goal #keystg {
		width: 100% !important;
		float: right;
	}

	body.node-type-cross-agency-goal .node .keystg-wrapper {
		margin-top: 0 !important;
		z-index: 1;
		padding: 0 !important;
	}

	body .node-cross-agency-goal .teaser {
		width: 100%;
	}

	body.node-type-cross-agency-goal .node .mission-container .logo {
		min-height: inherit;
		margin: 0 auto;
		float: none;
		padding-top: 10px;
	}

	body.node-type-cross-agency-goal #main-content .node .mission-container h2 {
		display: none;
	}

	body.node-type-cross-agency-goal .node .mission-container {
		min-height: 80px;
	}

	body.node-type-cross-agency-goal #share_icons {
		margin-bottom: 10px !important;
	}

	body.node-type-cross-agency-goal #page .cap-contrib-agencies {
		width: 100%;
		margin-left: 0;
		margin-top: 0;
		background-color: #f6f6f6;
		padding: 20px 0;
	}

	body .nextsteps-wrapper {
		width: 100%;
		margin-top: 0;
		padding: 0;
	}

	body.node-type-cross-agency-goal .node .overview-wrapper {
		margin-top: 0 !important;
	}

	body .cap-statement {
	width: 100%;
	font: 12px/20px Helvetica, Arial, Sans-Serif;
	margin-top: 10px;
	}

	body img.i_icon{    /* remove (i) icon */
		display: none;
	}

	body.api b,
	body.api li{
		word-wrap: break-word;
	}
    body.api #developer-api-accordion h2.ui-accordion-header{
        width:86%;
    }
    .agency-head-mission-wrapper{
        width: 95%;
    }

    body.page-initiative-manage-property,
    body.federalprograminventory{
        overflow: initial;
    }
    .federalprograminventory #block-views-programs-slider-public-block{
        display: none;
    }
    body.federalprograminventory .program-top-wrapper #block-views-programs-page-block-block{
        width: 96%;
    }
    body.federalprograminventory .region-content #block-views-programs-page-agencies-block-1,
    body.federalprograminventory .region-content #block-views-programs-resources-block{
        width:100%;
        margin-left: 0;
    }
    body.federalprograminventory .region-content #block-views-programs-page-agencies-block-1 .view-programs-page-agencies .views-row{
        min-height: 65px;
        height: auto;
    }
    /*needs more thought from desiners on how tables are going to work.*/
    /*body.page-initiative-manage-property .view-content{*/
        /*width:100%;*/
    /*}*/
    /*body.page-initiative-manage-property .view-manage-property-initiative .realproperty-learnmore{*/
        /*clear:both;*/
        /*width:100%;*/
    /*}*/
    /*body.page-initiative-manage-property .item-list .views-row #container0{*/
        /*clear:both;*/
    /*}*/
}






